services:
  frontend:
    container_name: frontend
    build:
      context: ./frontend
      args:
      - REACT_APP_BACKEND_URL=http://localhost:5000/api/tasks
    ports:
      - "3000:80"
    depends_on:
      - backend
  
  backend:
    build: ./backend
    container_name: backend
    environment:
      - PORT=5000
      - MONGO_CONN_STR=mongodb://mongodb:27017/mydatabase
    ports:
      - "5000:5000"
    depends_on:
      - mongodb

  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"

