apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  spec:
    replicas: 1
    selector:
      matchLabels:
        app: backend
    template:
      metadata:
        labels:
          app: backend
      spec:
        containers:
         - name: backend
           image: ritesh57/application-code-backend
           ports:
            - containerPort: 5000
           env:
              - name: PORT
                value: "5000"
              - name: MONGO_CONN_STR
                value: "mongodb://mongodb:27017/mydatabase"